*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedorGeneral{
    font-family: 'Caveat', cursive;
    background-color: green;
}

.contenedorGeneral > div > h1{
    position: relative;
    width: 100%;
    margin: 40px 0px 40px 0px;
    text-align: center;
}

.contenedorGeneral > div > h1::after{
    border: none;
    content: "BILL DETAILS";
    width: 100%;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 4px red;
    font-size: 100%;
    position: absolute;
    left: 0px;
    top: -8px;
}

.botonesAddEnd button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin: 0px 10px;
    border: none;
    color: white;
    background-color: transparent;
}

.botonesAddEnd .bgFinalize{
    border: 1px solid green;
    box-shadow: 5px 5px 10px green;
}

.botonesAddEnd .bgShow{
    border: 1px solid blue;
    box-shadow: 5px 5px 10px blue;
}

.botonesAddEnd .bgAdd{
    border: 1px solid red;
    box-shadow: 5px 5px 10px red;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

@media (max-width: 768px) {
    .botonesAddEnd{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}