<div style="background-color: green;">
    <div class="col-11 bg-gradient rounded" style="--bs-bg-opacity: .4; border-style: dashed;">
        <div class="col-md-12 text-center"><h2>Invoice header</h2></div>
        <div class="row row-cols-6 cols-2 gy-2 py-4">
                <div class="">
                    <label for="N_Bill" class="form-label">N de bill</label>
                    <input type="number" class="form-control" name="N_Bill" id="N_Bill" placeholder="Type the bill's number">
                </div>
                <div class="">
                    <label for="Bill_Date" class="form-label">Bill Date</label>
                    <input type="date" class="form-control" name="Bill_Date" id="Bill_Date">
                </div>
                <div class="">
                    <label for="Seller" class="form-label">Seller</label>
                    <input type="text" class="form-control" name="Seller" id="Seller" placeholder="Type the seller's name">
                </div>
                <div class="">
                    <label for="Identification" class="form-label">Customer identification</label>
                    <input type="number" class="form-control" name="Identification" id="Identification" placeholder="Type the customer's ID">
                </div>
        </div>
    </div>
</div>