<div class="contenedorBody" id="products">
    <div class="text-center pt-5 pb-4"><h1>INVOICE DETAIL</h1></div>
    <div id="product_0" class="row row-cols-2 row-cols-md-6 px-4">
        <div>
            <label for="cod_Product" class="form-label">COD PRODUCT</label>
            <input type="number" class="form-control py-2" name="Cod_Product" id="Cod_Product">
        </div>
        <div>
            <label for="name_Product" class="form-label">NAME PRODUCT</label>
            <input type="text" class="form-control py-2 mb-4" name="Name_Product" id="Name_Product">
        </div>
        <div>
            <label for="amount" class="form-label">AMOUNT</label>
            <input type="number" class="form-control py-2 mb-4" name="amount" id="amount" value="1" readonly>
        </div>
        <div>
            <label for="unit_Value" class="form-label">UNIT VALUE</label>
            <input type="number" class="form-control py-2 mb-4" name="Unit_Value" id="Unit_Value">
        </div>
        <div class="botones mb-4 mb-md-0">
            <button type="button" class="btn btn-success" data-row="product_0">+</button>
        </div>
        <div class="botones mb-4 mb-md-0">
            <button type="button" class="btn btn-danger" data-row="product_0">-</button>
        </div>
    </div>
</div>

<style>

    .contenedorBody{
        width: 95%;
        border: 1px solid white;
        border-radius: 2px;
        margin-left: 50%;
        margin-bottom: 40px;
        transform: translateX(-50%);
        background-color: rgb(247, 239, 239);
        box-shadow: -10px -10px 15px white;
    }

    .contenedorBody h1::after{
        content: "INVOICE DETAIL";
        width: 100%;
        color: rgb(25, 0, 255);
        text-shadow: 2px 2px 4px blue;
        font-size: 100%;
        position: absolute;
        left: 0px;
        top: 40px;
    }

    .row {
        margin: 0 !important;
        padding: 0 !important;
    }

    .contenedorBody label{
        color: white;
    }

    .contenedorBody input{        
        box-shadow: -5px -5px 5px green;
        font-size: 100%;
        outline: none;
    }

    .botones{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedorBody button{    
        padding: 10px;    
        width: 80%;
        height: 50%;
        top: 50%;
        font-size: 100%;
        outline: none;
    }

    @media (max-width: 767px) {
        .botones{    
            margin: 0px 0px 10px 0px !important;  
        }

        .botones button{    
            width: 10%;
            height: 100%;
        }
    }
</style>