<div class="bd-danger px-2" style="background-color: red;">
    <h1 class="col-11 text-center titulo">Sistema de Facturación Hunters</h1>
    <div class="bg-secondary bg-gradient rounded" style="--bs-bg-opacity: .4; border-style: dashed;">
        <div class="row cols-1 gy-2 py-4">
            <div class="col-sm-12 text-center"><h2>Header the bill</h2></div>
            <div class="col-sm-4">
                <label for="N_Bill" class="form-label">Nro the bill</label>
                <input type="number" class="form-control" name="N_Bill" id="N_Bill" placeholder="Type to number bill">
            </div>
            <div class="col-sm-4">
                <label for="Bill_Date" class="form-label">Bill Date</label>
                <input type="date" class="form-control" name="Bill_Date" id="Bill_Date" placeholder="Type to number bill">
            </div>
            <div class="col-sm-4">
                <label for="Seller" class="form-label">Seller</label>
                <input type="text" class="form-control" name="Seller" id="Seller" placeholder="Type to number bill">
            </div>
    
            <div class="col-sm-4">
                <label for="Seller" class="form-label">Id the </label>
                <input type="text" class="form-control" name="Seller" id="Seller" placeholder="Type to number bill">
            </div>
            <div class="col-sm-4">
                <label for="Seller" class="form-label">Seller</label>
                <input type="text" class="form-control" name="Seller" id="Seller" placeholder="Type to number bill">
            </div>
            <div class="col-sm-4">
                <label for="Seller" class="form-label">Seller</label>
                <input type="text" class="form-control" name="Seller" id="Seller" placeholder="Type to number bill">
            </div>
        </div>
    </div>
</div>

