<h1 class="col-12 mt-5 mb-4 text-center titulo">HUNTERS BILLING SYSTEM</h1>

<div class="contenedorHeader">
    <div class=" text-center pt-2 pb-4"><h1>HEADER THE BILL</h1></div>
    <div class="row contenedoresInput row-cols-1 row-cols-md-3 px-4">
        <div>
            <label for="N_Invoice" class="form-label">INVOICE NUMBER</label>
            <input type="number" class="form-control py-2 mb-4" name="N_Invoice">
        </div>
        <div>
            <label for="D_Invoicing" class="form-label">INVOICING DATE</label>
            <input type="date" class="form-control py-2 mb-4" name="D_Invoicing">
        </div>
        <div>
            <label for="Seller" class="form-label">SELLER</label>
            <input type="text" class="form-control py-2 mb-4" name="Seller">
        </div>

        <div>
            <label for="ID_Client" class="form-label">CLIENT ID</label>
            <input type="number" class="form-control py-2 mb-4" name="ID_Client">
        </div>
        <div>
            <label for="Name_LastName" class="form-label">NAME AND LAST NAME</label>
            <input type="text" class="form-control py-2 mb-4" name="Name_LastName">
        </div>
        <div>
            <label for="Email_Client" class="form-label">CLIENT EMAIL</label>
            <input type="email" class="form-control py-2 mb-4" name="Email_Client">
        </div>
        
        <div>
            <label for="Client_Address" class="form-label">CLIENT ADDRESS</label>
            <input type="text" class="form-control py-2 mb-4" name="Client_Address">
        </div>
        <div>
            <label for="Client_Phone" class="form-label">CLIENT PHONE</label>
            <input type="number" class="form-control py-2 mb-4" name="Client_Phone">
        </div>
    </div>
</div>

<style>

    .titulo::after{
        border: none;
        content: "HUNTERS BILLING SYSTEM";
        width: 100%;
        color: rgb(255, 0, 0);
        text-shadow: 2px 2px 4px red;
        font-size: 100%;
        position: absolute;
        left: 0px;
        top: 40px;
    }

    .contenedorHeader{
        width: 80%;
        border: 1px solid white;
        border-radius: 2px;
        margin-left: 50%;
        transform: translateX(-50%);
        background-color: rgb(0, 0, 0, .6) !important;
        box-shadow: 10px 10px 15px white;
    }

    .contenedoresInput{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .contenedorHeader h1::after{
        content: "HEADER THE BILL";
        width: 100%;
        color: rgb(25, 0, 255);
        text-shadow: 2px 2px 4px blue;
        font-size: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .row {
        margin: 0 !important;
        padding: 0 !important;
    }

    .contenedorHeader label{
        color: white;
    }

    .contenedorHeader input{   
        background-color: transparent;
        color: white; 
        text-align: center;     
        box-shadow: 5px 5px 5px green;
        font-size: 100%;
        outline: none;
        font-weight: bold;
    }

    .contenedorHeader input:focus{  
        color: white;      
        background-color: transparent;
    }

    .contenedoresInput div:first-child input{   
        box-shadow: 5px 5px 5px blue;
    }

    .contenedoresInput div:nth-child(6) input{   
        box-shadow: 5px 5px 5px blue;
    }

    .contenedoresInput div:nth-child(3) input{   
        box-shadow: 5px 5px 5px red;
    }

    .contenedoresInput div:nth-child(4) input{   
        box-shadow: 5px 5px 5px red;
    }

    .contenedoresInput div:nth-child(7) input{   
        box-shadow: 5px 5px 5px rgb(0, 225, 255);
    }

    .contenedoresInput div:nth-child(8) input{   
        box-shadow: 5px 5px 5px rgb(0, 225, 255);
    }
</style>