<div id="product_0" class="my_product row row-cols-12 row-cols-sm-2 row-cols-md-6 px-4">
    <div>
        <label for="cod_Product" class="form-label">COD PRODUCT</label>
        <input type="number" class="form-control py-2 mb-4" name="Cod_Product">
    </div>
    <div>
        <label for="name_Product" class="form-label">NAME PRODUCT</label>
        <input type="text" class="form-control py-2 mb-4" name="Name_Product">
    </div>
    <div>
        <label for="amount" class="form-label">AMOUNT</label>
        <input type="number" class="form-control py-2 mb-4" name="amount" value="0" readonly>
    </div>
    <div>
        <label for="unit_Value" class="form-label">UNIT VALUE</label>
        <input type="number" class="form-control py-2 mb-4" name="Unit_Value">
    </div>
    <div class="botones mb-4 mb-md-0">
        <button type="button" class="bgAdd btn">+</button>
    </div>
    <div class="botones mb-4 mb-md-0">
        <button type="button" class="bgRemove btn">-</button>
    </div>
</div>

<style>
    .my_product label{
        color: white;
    }

    .my_product input{        
        box-shadow: -5px -5px 5px green;
        font-size: 100%;
        outline: none;
        font-weight: bold;
        background-color: transparent;
        color: white;
    }

    .my_product input:focus{  
        color: white;      
        background-color: transparent;
    }

    .my_product > div div:nth-child(2) input{   
        box-shadow: 5px 5px 5px blue;
    }

    .my_product > div div:nth-child(3) input{   
        box-shadow: 5px 5px 5px blue;
    }

    .my_product button{    
        padding: 10px;    
        width: 80%;
        height: 50%;
        top: 50%;
        font-size: 100%;
        outline: none;
    }

    .botones{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .botones .bgAdd,
    .botones .bgRemove{
        color: white;
        width: 80%;
    }

    .botones .bgAdd:hover,
    .botones .bgRemove:hover{
        color: white;
        outline: none;
        border: none;
    }

    .botones .bgAdd{
        border: 1px solid green;
        box-shadow: 5px 5px 10px green;
    }

    .botones .bgRemove{
        border: 1px solid red;
        box-shadow: 5px 5px 10px red;
    }

    @media (min-width: 1300px) {
        .botones .bgAdd,
        .botones .bgRemove{
            color: white;
            width: 60%;
        }
    }

    @media (max-width: 767px) {
        .botones{    
            margin: 0px 0px 10px 0px !important;  
        }

        .botones button{    
            height: 100%;
        }
    }
</style>